.html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  color: #4d4d4d;
}

.wrapper {
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
  width: 90%;

  @include mq($from: desktop) {
    width: 80%;
  }
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Impact Grotesk Regular";
}
