@font-face {
  font-family: "Impact Grotesk Bold";
  src: url("fonts/impact-grotesk-bold.woff") format("woff"), url("fonts/impact-grotesk-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Impact Grotesk Bold Italic";
  src: url("fonts/impact-grotesk-bolditalic.woff") format("woff"), url("fonts/impact-grotesk-bolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "Impact Grotesk Italic";
  src: url("fonts/impact-grotesk-italic.woff") format("woff"), url("fonts/impact-grotesk-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Impact Grotesk Light";
  src: url("fonts/impact-grotesk-light.woff") format("woff"), url("fonts/impact-grotesk-light.woff2") format("woff2");
}

@font-face {
  font-family: "Impact Grotesk Bold Light Italic";
  src: url("fonts/impact-grotesk-lightitalic.woff") format("woff"), url("fonts/impact-grotesk-lightitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Impact Grotesk Medium";
  src: url("fonts/impact-grotesk-medium.woff") format("woff"), url("fonts/impact-grotesk-medium.woff2") format("woff2");
}

@font-face {
  font-family: "Impact Grotesk Medium Italic";
  src: url("fonts/impact-grotesk-mediumitalic.woff") format("woff"), url("fonts/impact-grotesk-mediumitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Impact Grotesk Regular";
  src: url("fonts/impact-grotesk-regular.woff") format("woff"), url("fonts/impact-grotesk-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Impact Grotesk Semi Bold";
  src: url("fonts/impact-grotesk-semibold.woff") format("woff"), url("fonts/impact-grotesk-semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Impact Grotesk Semi Bold Italic";
  src: url("fonts/impact-grotesk-semibolditalic.woff") format("woff"), url("fonts/impact-grotesk-semibolditalic.woff2") format("woff2");
}
