.headline-wrapper {
  min-height: 0;
  position: relative;
}

.headline-image-container {
  height: 120vw;
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;

  @include mq($from: tablet) {
    top: auto;
  }


  img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }
}
